.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-display {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-display img {
  max-width: 100%;
  max-height: 100%;
  filter: none;
  transition: filter 0.3s ease-in-out;
}

.tools {
  margin-top: 20px;
}

#image-upload {
  display: none;
}

#upload-button,
.editing-tools button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.active {
  background-color: #333;
}
