* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center-form {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid rgb(155, 146, 146);
  border-radius: 7px;
  margin-top: 20px;
}

.head {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  height: 80%;
}

form input {
  height: 15%;
  margin: 2%;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid rgb(155, 146, 146);
}

form button {
  height: 15%;
  margin: 2%;
  border-radius: 7px;
  background-color: #4caf50;
  border: 2px solid rgb(155, 146, 146);
}